#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


li button{
  background-color: white;
  color: black;

}